.container-fluid
  .row-fluid
    .span8
      %h1
        = title "Here are your links"

      - if @links.present?
        %table.table
          %thead
            %tr
              %th= t("views.links.url")
              %th= t("views.links.page_rank")
              %th= t("views.links.name")
              %th= t("views.links.keyword")
              %th.actions= t("views.application.actions")
          %tbody
            - @links.each do |link|
              %tr
                %td= link.name
                %td= link.page_rank
                %td= link.url
                %td= link.keyword
                %td.actions
                  = link_to "Show", link_path(link.id) 
                  = link_to "Edit", edit_link_path(link.id)
                  = link_to "Destroy", link, :confirm => "Are_you_sure", :method => :delete

        %p
          = link_to t("views.application.new"), new_link_path, :class => "btn"
          = link_to t("views.links.check"), check_links_path, :class => "btn"


    .span3
      = semantic_form_for @link2 do |f|
        %h3= "Add Another!"
        = f.inputs do
          = f.input :name
          = f.input :url, :as => :string
          = f.input :page_rank
          = f.input :keyword
        = f.buttons do
          = f.commit_button :button_html => { :class => 'btn-primary' }

  .row-fluid
    .span11
      = render :partial => 'filter'
