.container-fluid
  .row-fluid
    .span9
      - if @links.present?
        %table.table
          %thead
            %tr
              %th= t("views.links.url")
              %th= t("views.links.page_rank")
              %th= t("views.links.placement")
              %th= t("views.links.name")
              %th= t("views.links.keyword")
              %th.actions= t("views.application.actions")
              %tbody
              - @links.each do |link|
              %tr
              %td= link.name
              %td= link.page_rank
              %td= link.placement
              %td= link.url
              %td= link.keyword
              %td.actions
                = link_to t("views.links.payments"), link_payments_path(link.id) 
                = link_to t("views.application.show"), link_path(link.id) 
                = link_to t("views.application.edit"), edit_link_path(link.id)


.clear